<div class="container-fluid">
    <div class="row">
      <div class="col-12 hero-div">
        <h1 class="page-title pt-4 center-content">Lets Start Feeling Better</h1>
          <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1  col-md-12 offset-md-0 col-sm-12 offset-sm-0">
              <div class="row ">
                <div class="col-12">
                  <div class="row mb-3">
                    <div class="col-12">
                       <h4 class="mood-sub"><i class="fas fa-photo-video pe-2"></i> GIFs We Think You'd Like</h4>
                       <h5 class="mb-0">
                        <span class="pe-2">Tags:</span>
                        <span class="badge bg-light text-dark me-1 mood-tag" id="angry"><i class="fas fa-angry pe-1"></i> Angry</span>
                        <span class="badge bg-light text-dark me-1 mood-tag" id="Motivational"><i class="fas fa-burn pe-1"></i> Motivational</span>
                        <span class="badge bg-light text-dark me-2 mood-tag" id="Inspiration"><i class="fas fa-lightbulb pe-1"></i>Inspiration</span>
                        <div class="spinner-border text-light" role="status" style="margin-bottom:-4px;">
                          <span class="visually-hidden" >Loading...</span>
                        </div>

                       </h5>
                    </div>
                  </div>
                  <div class="row gif-row justify-content-md g-0">
                      <div class="col">
                        <img src="" class="giphy0"/>
                      </div>
                      <div class="col">
                        <img src="" class="giphy1"/>
                      </div>
                      <div class="col">
                        <img src="" class="giphy2"/>
                      </div>
                      <div class="col"> 
                        <img src="" class="giphy3"/>
                      </div>
                       <div class="col"> 
                        <img src="" class="giphy4"/>
                      </div>
                      <div class="col"> 
                        <img src="" class="giphy5"/>
                      </div>
                      <div class="col"> 
                        <img src="" class="giphy6"/>
                      </div>
                      <div class="col"> 
                        <img src="" class="giphy7"/>
                      </div>
                  </div>
                  <div class="row mt-5 mb-3">
                    <div class="col-12">
                        <h4 class="mood-sub"><i class="fas fa-book pe-2"></i> Some Books That Maybe Relevant</h4>
                        <h5 class="mb-0">
                          <span class="pe-2">Tags:</span>
                          <span class="badge bg-light text-dark me-1"><i class="fas fa-smile-beam pe-1"></i> Angry</span>
                          <span class="badge bg-light text-dark me-1"><i class="fas fa-burn pe-1"></i> Motivational</span>
                          <span class="badge bg-light text-dark"><i class="fas fa-lightbulb pe-1"></i>Inspiration</span>
                        </h5>
                    </div>
                  </div>
                  <div class="row book-row justify-content-md g-0">
                      <div class="col">
                        <p class="book-title-0"></p>
                        <img src="" class="books0"/>
                      </div>
                      <div class="col">
                        <p class="book-title-1"></p>
                        <img src="" class="books1"/>
                      </div>
                      <div class="col">
                        <p class="book-title-2"></p>
                        <img src="" class="books2"/>
                      </div>
                      <div class="col"> 
                        <p class="book-title-3"></p>
                        <img src="" class="books3"/>
                      </div>
                       <div class="col"> 
                        <p class="book-title-4"></p>
                        <img src="" class="books4"/>
                      </div>
                      <div class="col"> 
                        <p class="book-title-5"></p>
                        <img src="" class="books5"/>
                      </div>
                      <div class="col"> 
                        <p class="book-title-6"></p>
                        <img src="" class="books6"/>
                      </div>
                      <div class="col"> 
                        <p class="book-title-7"></p>
                        <img src="" class="books7"/>
                      </div>
                  </div>
                </div>
              </div>        
          </div> 
      </div>
    </div>
</div>

<script src="/js/angry.js" defer></script>