<div class="container-fluid">
    <div class="row">
      <div class="col-12 hero-div">
        <h1 class="page-title pt-4 center-content">Lets Start Feeling Better</h1>
          <div class="col-10 offset-xl-1">
              <div class="row ">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                       <h4 class="mood-sub"><i class="fas fa-photo-video pe-2"></i> GIFs We Think You'd Like</h4>
                    </div>
                  </div>
                  <div class="row gif-row justify-content-md g-0">
                      <div class="col">
                        <img src="" class="giphy0"/>
                      </div>
                      <div class="col">
                        <img src="" class="giphy1"/>
                      </div>
                      <div class="col">
                        <img src="" class="giphy2"/>
                      </div>
                      <div class="col"> 
                        <img src="" class="giphy3"/>
                      </div>
                       <div class="col"> 
                        <img src="" class="giphy4"/>
                      </div>
                       <div class="col"> 
                        <img src="" class="giphy5"/>
                      </div>
                  </div>
                  <div class="row mt-5">
                    <div class="col-12">
                       <h4 class="mood-sub"><i class="fas fa-book pe-2"></i> Some Books That Maybe Relevant</h4>
                    </div>
                  </div>
                  <div class="row book-row justify-content-md g-0">
                      <div class="col">
                        <p class="book-title-0"></p>
                        <img src="" class="books0"/>
                      </div>
                      <div class="col">
                        <p class="book-title-1"></p>
                        <img src="" class="books1"/>
                      </div>
                      <div class="col">
                        <p class="book-title-2"></p>
                        <img src="" class="books2"/>
                      </div>
                      <div class="col"> 
                        <p class="book-title-3"></p>
                        <img src="" class="books3"/>
                      </div>
                       <div class="col"> 
                        <p class="book-title-4"></p>
                        <img src="" class="books4"/>
                      </div>
                      <div class="col"> 
                        <p class="book-title-5"></p>
                        <img src="" class="books5"/>
                      </div>
                      <div class="col"> 
                        <p class="book-title-6"></p>
                        <img src="" class="books6"/>
                      </div>
                      <div class="col"> 
                        <p class="book-title-7"></p>
                        <img src="" class="books7"/>
                      </div>
                  </div>
                </div>
              </div>        
          </div> 
      </div>
    </div>
</div>

<script src="/js/mood.js" defer></script>