<div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-12 hero-div">
        <h1 class="page-title">How The Hell Are Ya?</h1>
       
      </div>
    </div>
</div>