<link rel="stylesheet" href="/stylesheets/sadstyle.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-12 sad-div">
            <h1 class="sad-title pt-4 center-content">The Walls We Build Around Us To Keep Out The Sadness Also
                Keep
                Out The Joy</h1>
            <h6 class="page-sub-title center-content"></h6>
            <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1  col-md-12 offset-md-0 col-sm-12 offset-sm-0">
                <div class="row">
                    <div class="col-12">
                        <div class="row mb-3">
                            <div class="col-12 center-content">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZdIJOE9jNcM"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <h4 class="mood-sub">
                                    <i class="fas fa-photo-video pe-2"></i> GIFs We Think You'd Like...
                                    <div class="spinner-border text-light" role="status" style="margin-bottom:-4px;">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </h4>
                                <h5 class="mood-holder mb-0">
                                    <span class="pe-2">Tags:</span>
                                    <span class="badge bg-light text-dark me-1 mood-tag" id="sad"><i
                                            class="far fa-sad-tear pe-1"></i> Sad</span>
                                    <span class="badge bg-light text-dark me-1 mood-tag" id="scary"><i
                                            class="far 	fas fa-flushed pe-1"></i> Scary</span>
                                    <span class="badge bg-light text-dark me-2 mood-tag" id="dark"><i
                                            class="far fas fa-grin-beam-sweat pe-1"></i>Dark</span>
                                    <span class="badge bg-light text-dark me-2" id="custom" data-bs-toggle="modal"
                                        data-bs-target="#customModal"><i class="fas fa-plus pe-1"></i>Add A Tag</span>
                                </h5>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="customModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add A Tag!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="exampleFormControlInput1" class="form-label">New Tag</label>
                                        <input type="text" class="form-control" id="custom-tag-input"
                                            placeholder="Something Sad!">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success add-custom">Add Tag</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row gif-row justify-content-md g-0">
                            <div class="col">
                                <img src="" class="giphy0" />
                            </div>
                            <div class="col">
                                <img src="" class="giphy1" />
                            </div>
                            <div class="col">
                                <img src="" class="giphy2" />
                            </div>
                            <div class="col">
                                <img src="" class="giphy3" />
                            </div>
                            <div class="col">
                                <img src="" class="giphy4" />
                            </div>
                        </div>
                        <div class="row mt-5 mb-3">
                            <div class="col-12">
                                <h4 class="mood-sub"><i class="fas fa-book pe-2"></i> Some Books That May Be Relevant...
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row book-row justify-content-md ">
                                    <div class="col-6">
                                        <div class="card mb-3">
                                            <div class="row g-0">
                                                <div class="col-auto">
                                                    <img src="..." alt="..." src="" class="books0">
                                                </div>
                                                <div class="col">
                                                    <div class="card-body">
                                                        <h5 class="book-title-0"></h5>
                                                        <p class="card-text book-desc-0"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card mb-3">
                                            <div class="row g-0">
                                                <div class="col-auto">
                                                    <img src="..." alt="..." src="" class="books1">
                                                </div>
                                                <div class="col">
                                                    <div class="card-body">
                                                        <h5 class="book-title-1"></h5>
                                                        <p class="card-text book-desc-1"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card mb-3">
                                            <div class="row g-0">
                                                <div class="col-auto">
                                                    <img src="..." alt="..." src="" class="books2">
                                                </div>
                                                <div class="col">
                                                    <div class="card-body">
                                                        <h5 class="book-title-2"></h5>
                                                        <p class="card-text book-desc-2"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card mb-3">
                                            <div class="row g-0">
                                                <div class="col-auto">
                                                    <img src="..." alt="..." src="" class="books3">
                                                </div>
                                                <div class="col">
                                                    <div class="card-body">
                                                        <h5 class="book-title-3"></h5>
                                                        <p class="card-text book-desc-3"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row  justify-content-md ">
                                    <div class="col-6">
                                        <div class="card web-card mb-3">
                                            <div class="row g-0">
                                                <div class="col-12 web-img-4">
                                                </div>
                                                <div class="col">
                                                    <div class="card-body">
                                                        <h5 class=""></h5>
                                                        <p class="card-text">Healthy Tips For Sadness </p>
                                                        <a href="https://www.gundersenhealth.org/health-wellness/live-happy/healthy-ways-to-deal-with-sadness/"
                                                            class="btn btn-primary">Go To Gunderson Health</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card web-card mb-3">
                                            <div class="row g-0">
                                                <div class="col-12 web-img-3">
                                                </div>
                                                <div class="col">
                                                    <div class="card-body">
                                                        <h5 class=""></h5>
                                                        <p class="card-text">Helpful Advice to Pass Along
                                                        </p>
                                                        <a href="https://www.inc.com/lolly-daskal/25-excellent-pieces-of-advice-that-most-people-ignore.html"
                                                            class="btn btn-primary">Go To The Advice</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/sad.js" defer></script>