<div class="container-fluid form-hero">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-5">
        <h2 class="center-content app-title">Sign Up</h2>
        <form class="login">
          <div class="input-group">
            <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-user-circle"></i></div>
            <input type="email" class="form-control" id="email-input" placeholder="Email" aria-label="Input group example" aria-describedby="btnGroupAddon">
          </div>
          <div class="input-group">
            <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-key"></i></div>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>   
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>      
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <br />
        <p class="seperator">or</p>
        <p class="center-content ">Log in <a href="/login">here</a></p>
      </div>
    </div>
  </div>



{{!-- 
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up Form</h2>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/login">here</a></p>
      </div>
    </div>
  </div> --}}