<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12 hero-div center-content">
      <h1 class="page-title">How The Hell Are Ya?</h1>
      <h2 class="moods">
        <i id="really-sad" class="mood-click fas fa-sad-tear"></i>
        <i id="sad" class="mood-click fas fa-sad-cry"></i>
        <i id="rolling-eyes" class="mood-click fas fa-meh-rolling-eyes"></i>
        <i id="blank" class="mood-click fas fa-meh-blank"></i>
        <i id="tired" class="mood-click fas fa-tired"></i>
        <i id="angry" class="mood-click fas fa-angry"></i>
        <i id="grimace" class="mood-click fas fa-grimace"></i>
      </h2>
      <small class="helper-text">Pick a face that best represents your current mood</small>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-4" id="daily-quote">

    </div>

  </div>
</div>