<div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-12 hero-div">
        <h1 class="page-title">How The Hell Are Ya?</h1>
        <h2 class="moods">
          <i class="fas fa-sad-tear"></i>
          <i class="fas fa-sad-cry"></i>
          <i class="fas fa-meh-rolling-eyes"></i>
          <i class="fas fa-meh-blank"></i>
          <i class="fas fa-tired"></i>
          <i class="fas fa-angry"></i>
          <i class="fas fa-grimace"></i>
        </h2>
        <small class="helper-text">Pick a face that best represents your current mood</small>
      </div>
    </div>
</div>