<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12 hero-div center-content">
      <h1 class="page-title">How The Hell Are Ya?</h1>
      <h2 class="moods">
        <!---<i id="really-sad" class="mood-click fas fa-sad-tear"></i>--->
        <i id="sad" class="mood-click fas fa-sad-cry"></i>
        <!---<i id="rolling-eyes" class="mood-click fas fa-meh-rolling-eyes"></i>--->
        <i id="happy" class="mood-click fas fa-smile-beam"></i>
        <!---<i id="crazy" class="mood-click fas fa-grin-tongue-wink"></i>--->
        <i id="angry" class="mood-click fas fa-angry"></i>
        <i id="romantic" class="mood-click fas fa-kiss-wink-heart"></i>
      </h2>
      <small class="helper-text">Pick a face that best represents your current mood</small>
      <div class="row justify-content-md-center mt-4">
          <div class="col-4" id="daily-quote"></div>
      </div>
    </div>
  </div>

</div>